.container {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    .logo-container {
        width: 30%;
        .logo {
            padding: 10px;
        }
    }
    .options-container {
        width: 50%;
        display: flex;
        .option {
            --borderWidth: 3px;
            background: #1d1f20;
            position: relative;
            border-radius: var(--borderWidth);
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            color: #34314b;
            font-weight: 500;
            line-height: 1.6;
            padding: 10px 0px 10px 40px;
        }
    }
}
.gradient-border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
